/*********************
RESPONSIVE STYLING
**********************/

@media only screen and (max-width : 2500px) {
  .about-electrician {
    max-width: 38%;
    position: absolute;
    bottom: -1200px;
    right: 0;
    z-index: -2;
  }
}

@media only screen and (max-width : 1366px) {
  h1 {
      a {
        margin-left: 1%;
        font-size: 2rem;
      }
  }

  .title {
    margin-right: 1%;
    padding-right: 5%;
  }

  .logo {
    width: 35%;
  }

  .about{
    width: 55%;
    p {
      font-size: 1.5rem;
    }
  }

  .service-list p {
    font-size: 1.2rem;
    li {
      width: 100%;
    }
  }

  .description {
    p{
    font-size: 1.3rem;
  }
}
}
